.hero
    .hero__content
        h1 Looking for racers
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quod atque asperiores illo est, nemo voluptatum vero aliquid! Corrupti voluptatibus quas nisi recusandae atque maiores voluptatem tempore cupiditate, facilis mollitia?
