section.section__colored--orange
    .section__wrapper
        h2 Who are we
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ab, ullam est iste fugit ipsam suscipit aperiam nam sunt? Soluta quaerat sit eos suscipit nulla dolorum, atque aliquid, dolore rerum?
