section.work-here.section__colored--orange
    .section__wrapper
        h2 Want to work here?
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate aut et sint necessitatibus veniam, tenetur iste a quaerat numquam omnis praesentium, expedita architecto quisquam quod ipsa magnam repudiandae distinctio illo.
        button.contact-us Can't wait to join us?
