%colored_section_overlay {
  &::after {
    content: '';
    background-color: rgba($primary-color, .8);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

%content_vertical_align {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

%icon_size {
  font-size: $icon_font_size;
}

%colored_section {
  display: table;
  background-size: cover;
  padding: 80px 0;
  position: relative;
  width: 100%;
}