/*
.orange {
    background-color: orange;
    color: white;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 2rem 0em;
}*/



/*
section .fa {
    font-size: 5em;
}

section ul::after {
    clear: both;
    content: '';
    display: block;
}

section ul li {
    list-style-type: none;
    display: block;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}
*/


.our-clients {
    max-width: 500px;
    margin: auto;
    display: block;
    padding-left: 0px;
}

.our-clients li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: thin solid lightgrey;
    padding-bottom: 2em;
}

.our-clients li:last-child {
    border-bottom: 0px;
}


.client::after {
    clear: both;
    content: '';
    display: block;
}

.our-clients li img {
    float: left;
    margin: 0em 1.4em;
    border-radius: 10em;
    width: 7em;
    height: 7em;
}

.our-clients li:nth-child(even)  img {
    float: right
}

.client p, span {
    text-align: left;
    font-weight: 400;
    padding-top: 1.2em;
}

.our-clients li:nth-child(even) p, .our-clients li:nth-child(even) span {
    text-align: right;
}

.client span {
    display: block;
    font-weight: 700;
    padding-top: 0px;
}


footer {
    text-align: center;
}

