
doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel="stylesheet", href="./src/style.css")
    link(rel="stylesheet", href="./src/common/theme.css")
    link(rel="stylesheet", href="./src/common/sections.css")
    link(rel="stylesheet", href="./src/features/hero/hero.css")
    link(rel="stylesheet", href="./src/features/services/services.css")
    link(rel="stylesheet", href="./src/features/clients/client.css")
    link(rel="stylesheet", href="./src/features/contact/contact.css")
    link(rel="stylesheet", href="./src/components/navbar/navbar.css")
  body
    header
        include ./src/components/navbar/navbar.jade
        include ./src/features/hero/hero.jade

    #container.col
        include ./src/features/services/service.jade
        include ./src/features/who/who.jade
        include ./src/features/clients/client.jade
        include ./src/features/work-here/work.jade
        include ./src/features/contact/contact.jade

    footer
        p รง 2015
        p Rainbow NV - Rainbow Road, Mario Land




