html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-weight: 700;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-weight: 400;
}

.orange {
    background-color: orange;
    color: white;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 2rem 0em;
}

.main-nav .wrapper::after {
    clear: both;
    content: '';
    display: block;
}

.main-nav {
    padding: 1rem 0rem;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    z-index: 10;
    border-bottom : 1px orange solid;
}

.logo {
    float: left;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: orange;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.logo:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.main-nav ul {
    cursor: pointer;
    float: right;
    margin: 0em;
    line-height: 2rem;
    text-transform: uppercase;
    color: orange;
}

.main-nav ul li {
    display: inline-block;
    margin: 0em 1em;
}

.main-nav ul li:hover {
    color: cyan;
}

nav {
    font-size: 1.4rem;
}

.full-height {
    width: 100%;
    height: 100vh;
    background-image: url('hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
  background-blend-mode: multiply;

    transform:skew(0deg,-5);
-ms-transform:skew(0deg,-5deg); /* IE 9 */
-webkit-transform:skew(0deg,-2.5deg); /* Safari and Chrome */
}




.full-height .content {
    top: 50%;
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
    transform: translateY(-50%);
    font-size: 1.4rem;
    max-width: 96rem;
    margin: auto;

         transform:skew(0deg,5deg);
-ms-transform:skew(0deg,5deg);
-webkit-transform:skew(0deg,2.5deg);
}

article {
    text-align: center;
    font-size: 1.3em;
}

article:nth-child(even) .wrapper {

        transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-5deg);
-webkit-transform:skew(0deg,-2.5deg);
}

article:nth-child(even) {
    padding  : 5em;
    transform:skew(0deg,5);
-ms-transform:skew(0deg,5deg); /* IE 9 */
-webkit-transform:skew(0deg,2.5deg); /* Safari and Chrome */
}


article .fa {
    font-size: 5em;
}

article ul::after {
    clear: both;
    content: '';
    display: block;
}

article ul li {
    list-style-type: none;
    display: block;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}

.our-clients {
    max-width: 500px;
    margin: auto;
    display: block;
    padding-left: 0px;
}

.our-clients li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: thin solid lightgrey;
    padding-bottom: 2em;
}

.our-clients li:last-child {
    border-bottom: 0px;
}


.client::after {
    clear: both;
    content: '';
    display: block;
}

.our-clients li .client img {
    float: left;
    margin: 0em 1.4em;
    border-radius: 10em;
    width: 7em;
    height: 7em;
}

.our-clients li:nth-child(even) .client img {
    float: right
}

.client p, .client span {
    text-align: left;
    font-weight: 400;
    padding-top: 1.2em;
}

.our-clients li:nth-child(even) .client p, .our-clients li:nth-child(even) .client span {
    text-align: right;
}

.client span {
    display: block;
    font-weight: 700;
    padding-top: 0px;
}


.contact-us {
    background-color: transparent;
    border : 2px white solid;
    color : white;
    padding: 1em;
}

.contact-us:hover {
    border-color : cyan;
    color : cyan;
    cursor: pointer;
}

footer {
    text-align: center;
}
